<div class="row">
	<div class="span6 offset3">
<%= form_for(@app) do |f| %>
  <%= render 'shared/error_messages' %>

    <%= f.label :name, 'Your App Name' %>
    <%= f.text_field :name %>

    <%= f.label :other_url, 'Default Mobile URL' %>
    <%= f.text_field :other_url, :placeholder => 'http://mobilesite.com' %>

    <%= f.label :ios_url, 'URL for iPhone Users' %>
    <%= f.text_field :ios_url, :placeholder => 'http://itunes.apple.com/us/app/...' %>

    <%= f.label :android_url, 'URL for Android Users' %>
    <%= f.text_field :android_url, :placeholder => 'https://play.google.com/store/apps/...' %>

    <%= f.submit "Create embed code", class: "btn btn-large btn-primary"%>
<% end %>
</div>
</div>